.navbar a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.navbar a:hover {
  transition: 0.2s ease-in;
}
.burger svg {
  font-size: 38px;
  color: HotPink;
}
.burger  svg:hover {
  color: PaleGreen;
}
@media screen and (min-width: 1440px) {
  #burger svg {
    font-size: 60px;
  }
}
@media screen and (min-width: 2560px) {
  #burger svg {
    font-size: 100px;
  }
}